.topcorner{
    position:absolute;
    top:10px;
    right:15px;
}

.transbox{
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

canvas{
    background-image: url("background.png");
}
p.controls{
    text-decoration: underline;
    font-size: 200%;
}
body{
    background-image: url("BatmanBackground.jpg");
}